.public-links{align-items:center!important;height:auto!important;align-self:stretch!important}
.public-links a{align-self:center!important;height:auto!important;position:relative!important;padding-bottom:4px!important}
.public-links a:after{bottom:0!important;transform:translateY(100%)!important}
